@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.all-wrap {
    flex: 1 0 auto;
}

.footer-wrap {
    flex: 0 0 auto;
}

.menu-main {
    padding-left: 110px;
    list-style: none;
    text-align: center;
    background: white;
}
.menu-main li {display: inline-block;}

.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}

.dropbtn {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #9d999d;
    background: white;
    padding: 16px;
    font-size: 17px;
    border: none;
    text-align: center;
    transition: color .2s;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dropbtn:hover {
    color: #feb386;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #9d999d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.lang-container {
    display: inline-block;
    float: right;
    margin-top: auto;
}

.ru{
   display: inline-block;
}

.by {
   display: inline-block;
}
.en {
   display: inline-block;
}

.en a{
   margin:0;
}

.ru a{
   margin:0;
}

.by a{
   margin:0;
}

.dropdown:hover .dropdown-content {display: block;}

.form-popup {
    font-family: 'Ubuntu Condensed', sans-serif;
    display: none;
    position: fixed;
    bottom: -20;
    right: -13;
    border: 3px solid #f1f1f1;
    padding: 10px;
    background-color: white;
    text-align: center;
}

@media only screen and (min-width: 450px) and (max-width: 1000px) {
    .menu-main li {
        display: block;
        padding: 5px 0 5px 0;
    }

    .menu-main a {
        font-size: 7vw;
    }

    .dropbtn {
        font-size: 8vw;
        padding: 5px 0 5px 0;
    }

    .lang-container {
        float: none;
    }

    .lang-container li{
        margin-left: 700px;
    }


    .en a{
       margin: 5px;
    }

    .ru a{
       margin: 5px;
    }

    .by a{
       margin: 5px;
    }
}