@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.message-container {
    text-align: center;
    width: 50%;
    height: 50%;
    background: #feb386;
    border-radius: 10px;
    margin: auto;
    padding-top: 20px;
}

.message-label {
    margin-top: 12%;
    font-size: 2em;
}

.link-container a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 2em;
    color: #ff6000;
}

.link-container {
    margin-top: 50px;
}